body{
	font-family: 'Inter', sans-serif;
	margin: 0;
	/* background-color: #0b0b45; */
}

.container{
	max-width: 650px;
	margin: 0 auto;
	background-color:#0b0b45;
	height: 100vh;
}

a{
	text-decoration: none;
}

.header{
	display: flex;
	justify-content: space-evenly;
	background-color: red;
	/* background: linear-gradient(90deg, rgba(111,177,127,1) 0%, rgba(154,173,89,1) 100%); */
	padding: 2em 0;
	align-items: center;
}

.contact-search{
	font-size: 1.2em;
	padding:.3em .3em;
	/* border-radius: 100px; */
	border:1px solid white;
	outline: none;
}


.contacts-library{
	background: #0b0b45;
}

.add{
	color: #fff;
	font-size: 1.5em;
}

i{
	color: #fff;
	font-size: 1.5em;
}

.contact-name{
	color: white;
	font-size: 1.2em;
}


ul{
	margin: 0;
	padding: 0;
	width: 100%;
}

/* hr{
	border: 1px solicontactd #494a4b;
} */

.list__item{
	list-style: none;
}

.relationship{
	color: #fff;
	width: 6em;
	text-align: center;
	padding: .4em .5em;
	border-radius: 100px;
	border-top-left-radius: 0;
	background-color: red;
}

.contact-section{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.5em;
	transition: 0.3s;
}

/* .contact-section:hover{
	background-color: #fff;
} */

.text{
	padding-left: 1em;
}
